<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam animi modi magni illo laborum. Debitis minus repellendus nobis quis ea quo sint, quae nihil laborum libero assumenda officia fugit incidunt.</p>

<%- include("footer") -%>